* {
  box-sizing: border-box;
}


html {
  display: block;
  background-color: rgba(0, 0, 0, 0.125);
  height: 100%;
  width: 95%;
  margin: auto;
}

body {
  background-color: aliceblue;
}

header {
  width: 100%;
  background-image: url(img/headerkép.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin: auto;
}

#myInput{
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


.kosar {
  float: right;
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  margin-left: 20px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  
}

.kosar:hover {
  text-transform: uppercase;
  color: yellow;
  cursor: pointer;
}

th{
  cursor: pointer;
}


footer {
  color: black;
  font-size: 28px;
  text-align: center;
}

table{
  margin: auto;
  text-align: center;
  font-size: 16px;
  width: 95%;
}

.megrendeles-gomb,.torles,.szerkesztes{
  color: black;
  text-decoration: none;
  border: none;
  font-size: 15px;
  padding: 10px;
  margin-left: 20px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  font-weight: bold;
  width: 130px;
  height: 50px;
}

.torles{

  color: black;
  text-decoration: none;
  border: none;
  font-size: 15px;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  width: 80px;
  height: 50px;
}

.megrendeles-gomb:hover{
  text-transform: uppercase;
  color: black;
  background-color: gold;
  cursor: pointer;
}

.torles:hover{
  text-transform: uppercase;
  color: black;
  background-color: gold;
  cursor: pointer;
}

.szerkesztes:hover{
  text-transform: uppercase;
  color: black;
  background-color: gold;
  cursor: pointer;
}


h1{
  font-size: 60px;
  text-align: center;
  color:gold;
}

h2{
  font-size: 40px;
  text-align: center;
}

.hasznalt{
  border-top: 5px solid black;
  margin-top: 200px;
}

.diz{
  border-top: 3px solid gold;
}



tr,th,td{
  padding:1px;
}

form{
  margin:auto;
  width: 60%;
}

form div{
  text-align: center;
}

fieldset{
  padding: 10px;
  margin: 20px;
}

legend{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

label,span{
  
  font-weight: bold;
  
}

label,input{
  margin: 10px;
}

.submit{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: gold;
}



footer {
  text-align: center;
  margin-top: 100px;
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
  /* tablet: */
  header {
    
    border-bottom: none;
    background-image: url(img/headerkép.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }

  #myInput{
    width: 20%;
    font-size: 10px;
    padding: 6px 10px 6px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  .kosar {
    font-size: 45px;
  }

  form{
    margin:auto;
    width: 90%;
  }

  
  .megrendeles-gomb,.torles,.szerkesztes{
    font-size: 8px;
    width: 100%;
    height: 100%;
  }
  
  h1{
    font-size: 50px;
  }
  
  h2{
    font-size: 35px;
  }
  
  .hasznalt{
    border-top: 3px solid black;
    margin-top: 100px;
  }
  
  .diz{
    border-top: 2px dashed gold;
  }
  
  table{
    font-size: 8px;
    width: 100%;
  }
  
  tr,th,td{
    padding: 3px;
  }
  
  footer {
    text-align: center;
    margin-top: 75px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 100px;
    border-bottom: none;
  }

  #myInput{
    width: 20%;
    font-size: 8px;
    padding: 4px 8px 4px 15px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  .kosar {
    font-size: 20px;    
  }

  footer {
    font-size: 8px;
  }
  
  table{
    font-size: 4px;
    width: 100%;
  }
  
  .megrendeles-gomb,.torles,.szerkesztes{
    font-size: 4px;
    padding: 2px;
    width: 100%;
    height: 100%;
  }
  
  .torles{
    text-decoration: none;
    border: none;
    font-size: 4px;
    padding: 1px;
    width: 100%;
    height: 100%;
  }

  
  h1{
    font-size: 30px;

  }
  
  h2{
    font-size: 15px;
    text-align: center;
  }
  
  .hasznalt{
    border-top: 2px solid black;
    margin-top: 30px;
  }
  
  .diz{
    border-top: 1px solid gold;
  }
  
  img{
    background-image: url(img/new_car/Blazer.jpg);
  }
  
  tr,th,td{
    padding:0px;
  }
  
  form{
    margin:auto;
    width: 90%;
  }
  
  form div{
    text-align: center;
  }
  
  fieldset{
    padding: 5px;
    margin: 10px;
  }
  
  legend{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
  }

  label,span,select{
    font-size: 6px;
  }

  input{
    width: 50px;
    height: 10px;
    
  }

  label,input{
    margin: 0px;
    padding: 0px;
  }
  
  .submit{
    display: block;
    margin: 0 auto;
    margin-top: 1px;
    font-size: 6px;
    font-weight: bold;
    background-color: gold;
  }
  
  
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    width: 100%;
    height: 100px;
    border-bottom: none;
  }

  #myInput{
    width: 20%;
    font-size: 4px;
    padding: 2px 3px 2px 7px;
    border: 1px solid #ddd;
    margin-bottom: 6px;
  }
  
  button {
    font-size: 20px;    
  }

  footer {
    font-size: 8px;
  }
  
  table{
    font-size: 4px;
  }
  
  .megrendeles-gomb,.torles,.szerkesztes{
    font-size: 4px;
    padding: 2px;
    width: 100%;
    height: 100%;
  }
  
  .torles{
    text-decoration: none;
    border: none;
    font-size: 4px;
    padding: 1px;
    width: 100%;
    height: 100%;
  }

  
  h1{
    font-size: 30px;

  }
  
  h2{
    font-size: 15px;
    text-align: center;
  }
  
  .hasznalt{
    border-top: 2px solid black;
    margin-top: 30px;
  }
  
  .diz{
    border-top: 1px solid gold;
  }
  
  img{
    background-image: url(img/new_car/Blazer.jpg);
  }
  
  tr,th,td{
    padding:0px;
  }
  
  form{
    margin:auto;
    width: 80%;
  }
  
  form div{
    text-align: center;
  }
  
  fieldset{
    padding: 5px;
    margin: 10px;
  }
  
  legend{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
  }

  label,span,select{
    font-size: 4px;
  }

  input{
    width: 50px;
    height: 10px;
    
  }

  label,input{
    margin: 0px;
    padding: 0px;
  }
  
  .submit{
    display: block;
    margin: 0 auto;
    margin-top: 1px;
    font-size: 4px;
    font-weight: bold;
    background-color: gold;
  }
  
  
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
}




