button{
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
  }

  h1{
    text-align: center;
  }

  button{
    margin-left: 40px;
    border: 0;
  }
  
  table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    border: 3px solid black;
    margin: auto;
  }
  
  th {
    border-bottom: 2px solid black;
  }
  
  td {
    border-bottom: 1px solid black;
  }
  

  }