button{
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    text-align: center;
    border: 3px solid black;
    margin: auto;
  }
  
  th {
    border-bottom: 2px solid black;
  }
  
  td {
    border-bottom: 1px solid black;
  }